/* Global CSS*/

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: Georgia, 'Times New Roman', Times, serif;
    -moz-osx-font-smoothing: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6, p { margin: 0;}

:root {
    --primary: #d3d3d3;
    --heading-color:#282938;
    --bg-shade: #f5fcff;
    --darkblue: #171725;
    --black: #000000;
    --white: #ffffff;
    --light-gray: rgb(200, 205, 214);
    --gray: #23252b;
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    min-height: 10vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    border-radius: 0.5s;
    /* to take ant device into account: */
    -webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    -ms-border-radius:0.5rem;
    -o-border-radius:0.5rem;

    transition: background-color 0.5s;
    /* to take ant device into account: */
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}

.btn-outline{
    color: var(--darkblue);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--light-gray);
}

.btn-outline:hover{
    color: var(--light-gray);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--darkblue);
}

.btn-green{
    color: var(--primary);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--green);
}

.btn-green:hover{
    color: var(--light-gray);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--darkblue);
}

.btn-github{
    color:var(--white);
    background-color: var(--black);
    border: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 1px 0 rgba(16,24,40,0.95); */
}

.btn-github:hover{
    color: var(--black);
    background-color: var(--white);
}

/* paragraphts */
h1{
    font-size: 4.5rem;
    font-weight: 700;
    min-height: 3vh;
}

h2{
    font-size: 4vw;
    font-weight: 700;
    min-height: 2vh;
}

h3{
    font-size: 2.5vw;
    font-weight: 700;
    min-height: 1rem;
}

.text-lg{
    color: var(--darkblue);
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    min-height: 1vh;
    padding: 1rem;
}

.text-md{
    color: var(--darkblue);
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    min-height: 1vh;
    padding: 1rem;
}

.text-sm{
    color: var(--black);
    font-size: 0.3rem;
    font-style: normal;
    font-weight: 400;
    min-height: 0.4vh;
}  

/* Section Titles */

.section--title{
    color: var(--primary);
    font-size: 1.5rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    min-height: 3.5vh;
    display: flex;
    align-items: flex-start;
}

.sub--title{
    color: var(--darkblue);
    font-size: 1.5rem;
    font-weight: 550;
    min-height: 2.5vh; 
}

/* nav */
.nav--container {
    display: flex;
    justify-content: flex-end;    
}
  
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color:var(--gray);
    color: var(--white);
    width: 3rem; /* Initial collapsed width */
    transition: width 0.3s ease; /* Add transition for smooth animation */
    position: fixed;
    border-radius: 5% 0% 30% 70%;
    box-shadow: 0 2px 0 var(--bg-shade);
}
 
/*
.nav img {
    max-width: 100px; 
}
*/
  
.nav__hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px; 
    z-index: 3;  
}
  
.nav__link {
    background-color: #fff;
    height: 4px;
    width: 100%;
    margin: 3px 0;

}
  
.nav--items {
    min-width: 9rem;
    display:flex;
    flex-direction: column;
    background-color: var(--gray);
    position: absolute;
    top: 0; /* Adjust the distance from the top */
    right: 0; /* Align to the right of the container */
    padding: 1rem;
    align-content: center;
    justify-content: center;
    border-radius: 0 0 0 70%;
    display: none;
    overflow: hidden;
}
  
.nav--items.active {
    display: flex;
    flex-direction: column;
}
  
.nav--content {
    display: flex;
    color: #fff;
    margin: 1rem 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
   
}
  
.nav--content:hover {
    color:var(--darkblue); /* Change the color on hover */
}
  
/* Hero Section */

.hero{
    max-height: 100vh;
    display: flex;
    padding: 1rem;
    align-content: center;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: var(--light-gray);
    
}
.hero--img{
    max-height: 100vh;
    margin-top: 5%;
    overflow: hidden;
}

.hero--img > img{
    max-width: 40rem;
    border-radius: 60%;
    box-shadow: 0 1px 0 rgba(25, 30, 38, 0.95)
    
}

.hero--box{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    z-index: 2;
    
}

.hero--content{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    margin-left: 3.3rem;
}


.hero--description{
    line-height: 1.5rem;
}

/* Skills Section */
.skills{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    gap: 4rem;
    align-content:center;
    justify-content:center;
    background-color:var(--gray);
}

.skills--box{
    display:flex;
    flex-direction: column;
    max-height: 70vh;
    min-width: 30vw;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-content:center;
    background-color:var(--light-gray);
    border-radius: 2%;
    box-shadow: 8px 8px 0  rgba(62, 69, 81, 0.95);
}

.skills--box--title{
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 7rem;
}

.skills--content{
    display:grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns for each category */
    align-content: flex-start;
    margin-left: 4rem;
    margin-right: 3rem;   
    
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category h3 {
    margin: 0; /* Remove margin for <h3> elements */
    padding: 1rem; /* Add padding for better spacing */
}

.skills--icon{
    width: 8rem;
    height: auto; 
    display: flex;
    padding: 1rem;
    justify-content: center;

}

.icon{
    width: 40%; 
    border-radius: 0%;
    box-shadow: 1px 1px  1px 1px  rgba(25, 30, 38, 0.95)

}

/* About Section */
.skills--content2 {
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
}

.skills--card {
    border-radius: 0%;
    box-shadow: 1px 1px 1px 1px rgba(25, 30, 38, 0.95);
    width: fit-content;
    min-height: 30vh;
    margin-left: 3vw;
    border-radius: 0%;
}

.profile-photo {
    border-radius: 50%;
    height: 55vh;
    grid-column: span 1; /* This will make the image span only one column */
    justify-self: center; /* This will center the image horizontally within its column */
}

/* Add a new class to style the title */
.skills--box--title {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Add some spacing below the title */
}

/* Portfolio Projects */
  
  .projects--box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .project--content {
    flex: 0 0 calc(33.333% - 20px); /* Adjust the width of each project card */
    margin-bottom: 20px; /* Add margin between project cards */
  }
  
  .project--card {
    /* Add styles for the project card container */
    border: 1px solid #ccc; /* Example border style */
    border-radius: 8px; /* Example border-radius */
    overflow: hidden; /* Hide any overflow content */
    max-width: 30rem;
    max-height: 60vh;
  }
  
  .project--card--img {
    max-width: 20rem;
    max-height: 40vh;
    
  }
  
  .project-img {
    border-radius: 0%;
  }
  
  .project--card--info {
    padding: 15px; /* Add padding to the project card information */
  }
  
  
  .btn-github svg {
    fill: #ffffff; /* SVG color */
    margin-right: 8px; /* Add space between icon and text */
  }
  
/* Contact section */

.contact--section {
    display: flex;
    padding: 150px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 64px;
  }
  .contact--form--container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    width: 40%;
    row-gap: 32px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 32px;
    row-gap: 32px;
  }
  .contact--label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.6px;
    flex: 1 0 0;
    width: 100%;
  }
  .contact--input {
    display: flex;
    font-family: "Roboto";
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.333px solid var(--primary);
    background: var(--white);
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
      white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
      white no-repeat calc(100% - 20px); /* Better placement regardless of input width */
  }
  /*For IE*/
  select::-ms-expand {
    display: none;
  }
  .checkbox--label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10.6px;
    flex: 1 0 0;
    justify-content: flex-start;
  }
  input[type="checkbox"] {
    width: 21px;
    height: 21px;
    border: 0.15em solid var(--heading-color);
    border-radius: 0.15em;
    transform: translatey(-0.075em);
  }


/* Footer */
.footer--container {
    display: flex;
    padding: 106.667px 85.333px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--bg-shade);
    align-items: center;
    align-self: stretch;
  }
  .footer--link--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .footer--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
  }
  .footer--items ul > li > a {
    text-decoration: none;
  }
  .footer--social--icon > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    text-decoration: none;
  }
  .divider {
    margin: 106px 0 42.67px;
    height: 1.333px;
    width: 100%;
    background: rgba(40, 41, 56, 0.55);
  }
  .footer--content--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .footer--content {
    color: var(--black);
    font-size: 18.667px;
    font-weight: 400;
    line-height: 28px;
  }


/* Media query for small screens (up to 767px) */
@media (max-width: 600px) {
    .skills {
        min-height: 100%;
        align-items: center; /* Center items horizontally */
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .skills--box {
        max-width: 100%;
        max-height: 200vh;

        margin: 0 0 2rem 0; /* Adjust margins for smaller screens */
    }

    .skills--content {
        margin: 0.5rem; /* Remove margin on small screens */
        justify-content: center; /* Center content horizontally */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /* Allow content to wrap on small screens */
    }
    

    h3{
        font-size: 4.5vw;
    }
    
   
}