/* Global CSS*/

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: Georgia, 'Times New Roman', Times, serif;
    -moz-osx-font-smoothing: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6, p { margin: 0;}

:root {
    --primary: #d3d3d3;
    --heading-color:#282938;
    --bg-shade: #f5fcff;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
    --light-gray: rgb(200, 205, 214);
    --green: #4c6444;
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    min-height: 10vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    border-radius: 0.5s;
    /* to take ant device into account: */
    -webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    -ms-border-radius:0.5rem;
    -o-border-radius:0.5rem;

    transition: background-color 0.5s;
    /* to take ant device into account: */
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}

.btn-outline{
    color: var(--darkblue);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--light-gray);
}

.btn-outline:hover{
    color: var(--light-gray);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--darkblue);
}

.btn-green{
    color: var(--primary);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--green);
}

.btn-green:hover{
    color: var(--light-gray);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--darkblue);
}

.btn-github{
    color:var(--white);
    background-color: var(--black);
    border: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 1px 0 rgba(16,24,40,0.95); */
}

.btn-github:hover{
    color: var(--black);
    background-color: var(--white);
}

/* paragraphts */
h1{
    font-size: 3.5rem;
    font-weight: 700;
    min-height: 3vh;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
    min-height: 2vh;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
    min-height: 1rem;
}

.text-lg{
    color: var(--darkblue);
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    min-height: 0.6vh;
}

.text-md{
    color: var(--darkblue);
    font-size: 0.4rem;
    font-style: normal;
    font-weight: 400;
    min-height: 0.5vh;
}

.text-sm{
    color: var(--black);
    font-size: 0.3rem;
    font-style: normal;
    font-weight: 400;
    min-height: 0.4vh;
}

/* nav */
/* Add this to your CSS file */

.container {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    width: 3rem; /* Initial collapsed width */
    transition: width 0.3s ease; /* Add transition for smooth animation */
  }
  
  .nav.expanded {
    width: 200px; /* Adjust the expanded width as needed */
  }
  
  .nav img {
    max-width: 100px; /* Adjust the maximum width of your logo */
  }
  
  .nav__hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px;
  }
  
  .nav__link {
    background-color: #fff;
    height: 4px;
    width: 100%;
    margin: 3px 0;
  }
  
  .nav--active {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px; /* Adjust the distance from the top */
    right: 0; /* Align to the right of the container */
    padding: 1rem;
    text-align: center;
    z-index: 1;
    display: none;
  }
  
  .nav--active.active {
    display: flex;
  }
  
  .nav--content {
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav--content:hover {
    color: #ffcc00; /* Change the color on hover */
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
  }
  

/* Section Titles */

/* Skills & About */
.section--title{
    color: var(--heading-color);
    font-size: 1rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    min-height: 2vh;
    display: flex;
    align-items: flex-start;
}

/* Contact */
.sub--title{
    color: var(--heading-color);
    font-size: 0.5rem;
    font-weight: 600;
    min-height: 1vh; 
}

/* Hero Section */

.hero{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 1rem;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--light-gray);
}

img{
    width: 20rem;
    min-height: 80vh;
    border-radius: 60%;
    box-shadow: 0 1px 0 rgba(25, 30, 38, 0.95)
}

.hero--img{
    margin-bottom: 10%;
}

.hero--box{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    z-index: 1;
}

.hero--content{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    margin-left: 3.3rem;
}


.hero--description{
    line-height: 1.5rem;
}

.hero--box > button{
    margin-bottom: 30%;
}
