/* Global CSS*/

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: Georgia, 'Times New Roman', Times, serif;
    -moz-osx-font-smoothing: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: var(--light-gray);
}

h1, h2, h3, h4, h5, h6, p { margin: 0;}

:root {
    --primary: #d3d3d3;
    --heading-color:#282938;
    --bg-shade: #f5fcff;
    --darkblue: #171725;
    --black: #000000;
    --white: #ffffff;
    --light-gray: rgb(200, 205, 214);
    --gray: #23252b;
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    min-height: 10vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    border-radius: 0.5s;
    /* to take ant device into account: */
    -webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    -ms-border-radius:0.5rem;
    -o-border-radius:0.5rem;

    transition: background-color 0.5s;
    /* to take ant device into account: */
    -webkit-transition:background-color 0.5s;
    -moz-transition:background-color 0.5s;
    -ms-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
}

.btn-outline{
    color: var(--darkblue);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--light-gray);
}

.btn-outline:hover{
    color: var(--light-gray);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--darkblue);
}

.btn-green{
    color: var(--primary);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--green);
}

.btn-green:hover{
    color: var(--light-gray);
    border: 0.1rem solid var(--darkblue);
    background-color: var(--darkblue);
}

.btn-github{
    color:var(--white);
    background-color: var(--black);
    border: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 1px 0 rgba(16,24,40,0.95); */
}

.btn-github:hover{
    color: var(--black);
    background-color: var(--white);
}

/* paragraphts */
h1{
    font-size: 4.5rem;
    font-weight: 700;
    min-height: 3vh;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    min-height: 2vh;
}

h3{
    font-size: 2rem;
    font-weight: 700;
    min-height: 1rem;
}

.text-lg{
    color: var(--darkblue);
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    min-height: 1vh;
    padding: 1rem;
}

.text-md{
    color: var(--darkblue);
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    min-height: 1vh;
    padding: 1rem;
}

.text-sm{
    color: var(--black);
    font-size: 0.3rem;
    font-style: normal;
    font-weight: 400;
    min-height: 0.4vh;
}  

/* Section Titles */

.section--title{
    color: var(--primary);
    font-size: 1.5rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    min-height: 3.5vh;
    display: flex;
    align-items: flex-start;
}

.sub--title{
    color: var(--darkblue);
    font-size: 1.5rem;
    font-weight: 550;
    min-height: 2.5vh; 
}

/* nav */
.nav--container {
    display: flex;
    justify-content: flex-end;    
}
  
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #333;
    color: var(--white);
    width: 3rem; /* Initial collapsed width */
    transition: width 0.3s ease; /* Add transition for smooth animation */
    position: fixed;
    border-radius: 5% 0% 30% 70%;
    box-shadow: 0 1px 0 var(--darkblue);
}
 
/*
.nav img {
    max-width: 100px; 
}
*/
  
.nav__hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px; 
    z-index: 3;  
}
  
.nav__link {
    background-color: #fff;
    height: 4px;
    width: 100%;
    margin: 3px 0;

}
  
.nav--items {
    min-width: 9rem;
    display:flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 0; /* Adjust the distance from the top */
    right: 0; /* Align to the right of the container */
    padding: 1rem;
    align-content: center;
    justify-content: center;
    border-radius: 0 0 0 70%;
    display: none;
    overflow: hidden;
}
  
.nav--items.active {
    display: flex;
    flex-direction: column;
}
  
.nav--content {
    display: flex;
    color: #fff;
    margin: 1rem 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
   
}
  
.nav--content:hover {
    color:var(--darkblue); /* Change the color on hover */
}
  
/* Hero Section */

.hero{
    max-height: 90vh;
    display: flex;
    padding: 1rem;
    align-content: center;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: var(--light-gray);
    
}
.hero--img{
    max-height: 100vh;
    margin-top: 5%;
    overflow: hidden;
}

img{
    max-width: 40rem;
    border-radius: 60%;
    box-shadow: 0 1px 0 rgba(25, 30, 38, 0.95)
    
}

.hero--box{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    z-index: 2;
    
}

.hero--content{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:2rem;
    margin-left: 3.3rem;
}


.hero--description{
    line-height: 1.5rem;
}

/* Skills Section */
.skills{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 5rem 8rem;
    gap: 4rem;
    align-content:center;
    justify-content:flex-start;
    background-color:var(--gray);
}

.skills--box{
    display: block;
    max-height: 60vh;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-content:center;
    background-color:var(--primary);
    border-radius: 2%;
    box-shadow: 8px 8px 0  rgba(62, 69, 81, 0.95)
}

.skills--box--title{
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 7rem;
}

.skills--content{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-left: 4rem;
    margin-right: 3rem;    
}

.skills--icon{
    width: 8rem;
    height: auto; 
    display: flex;
    padding: 1rem;
    justify-content: center;

}

.icon{
    width: 40%; 
    border-radius: 0%;
    box-shadow: 1px 1px  1px 1px  rgba(25, 30, 38, 0.95)

}

/* About Section */
.skills--content2 {
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
}

.skills--card {
    border-radius: 0%;
    box-shadow: 1px 1px 1px 1px rgba(25, 30, 38, 0.95);
    width: fit-content;
    min-height: 30vh;
    margin-left: 3vw;
    border-radius: 0%;
}

.profile-photo {
    border-radius: 50%;
    height: 55vh;
    grid-column: span 1; /* This will make the image span only one column */
    justify-self: center; /* This will center the image horizontally within its column */
}

/* Add a new class to style the title */
.skills--box--title {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Add some spacing below the title */
}

/* Portfolio Projects */
